@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-sand text-text font-serif overflow-x-hidden;
  }

  /* Custom Selection Color */
  ::selection {
    @apply bg-dune text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
